<h1>Devices</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Map</a></li>
    <li role="presentation"><a href="/devices/<%= @devices.try(:last).try(:id) %>">Device readings</a></li>
  </ul>
<p>We currently have this many devices:</p>
<%= @devices.length %>